@media screen and (max-width: 1023px) {
    .image-col .image-block {
        width: 100%;
    }

    .image-frame {
        width: 100%;
        position: relative;
    }
    .image-frame img {
        max-width: 100%;
    }
    .content-section .grid-box .title {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .social-links-col ul li .icon {
        font-size: 36px;
    }
}

@media screen and (max-width: 640px) {
    .grid-row .grid-content-box {
        text-align: center;
    }
    .quick-links-col .links-list,
    .social-links-col .links-list {
        padding-left: 0;
        margin-left: 0;
    }

}

@media screen and (max-width: 480px) {
    .top-head-frame .social-icons-col,
    .top-head-frame .contact-details-col {
        text-align: center;
    } 
    .right-side {
        width: 65%;
    } 
    .right-side .btn-become-partner {
        width: 130px;
        height: 36px;
        font-size: 12px;
    }
    .banner-section {
        min-height: 700px;
        height: auto;
    }
    .banner-section .banner-content-row .text-col {
        margin-top: 0;
    }
    .text-col .title-text {
        font-size: 38px;
        line-height: 1.5;
        text-align: center;
    }
    .text-col .sub-content {
        text-align: center;
        font-size:20px;
    }
    .content-section .content-title {
        font-size: 30px;
        line-height: 1.5;
    }
    .grid-row .grid-content-box .title-text {
        font-size: 30px;
        line-height: 1.5;
    }
    
}
@media screen and (max-width: 360px) {
    .contact-details-col .contact-list li {
        margin-left: 5px;
    }
 }